.edit-user-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .edit-user-container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .edit-user-container form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-user-container .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .edit-user-container label {
    font-size: 16px;
    color: #333;
    margin-right: 10px; 
    width: 100px; 
  }
  
  .edit-user-container input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .edit-user-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #434dca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-user-container button:hover {
    background-color: #4a43ca;
  }
  
  .edit-user-container button:focus {
    outline: none;
  }
  .savebtn {
    display: flex;
    justify-content: center;
  }