.wrapper {
  height: 86dvh;
  margin: 0 auto;
  position: relative;
}

.searchBar {
  position: absolute;
  display: flex;
  top: 10px;
  left: 50%;
  gap: 5px;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  height: 30px;
  z-index: 1;
}

.searchBar > input {
  height: 30px;
  width: 72%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.searchBar > input:focus {
  outline: none;
}

.searchBar > button {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #4269cc;
  color: white;
}

.placeList {
  list-style: none;
  width: 72%;
  position: absolute;
  margin-left: 7px;
  top: 30px;
  left: 0;
  z-index: 1;
  background-color: rgb(255 255 255 / 84%);
}
.checkboxContainer {
  position: absolute;
  width: 17%;
  top: 50px;
  right: 6px;

  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 6px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.toggleListBtn {
  position: absolute;
  top: 90%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4269cc;
  color: white;
  cursor: pointer;
  border: none;
}
.toggleListBtn:focus {
  outline: none;
}
