.toggleListBtn {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 10;
  background-color: white;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.item {
  cursor: pointer;
  border-bottom: solid 1px #ccc;
  padding: 5px 0;
}
.listContainer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  height: 30dvh;
  display: block;
  z-index: 2;
  overflow-y: scroll;
  transform: translateX(-50%);
  padding: 8px 18px 15px 32px;
  width: 41dvh;
  background-color: rgb(255 255 255 / 84%);
  border-radius: 5%;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 8px;
}
