.toggleListBtn {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 10;
  background-color: white;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.item {
  cursor: pointer;
  border-bottom: solid 1px #ccc;
  padding: 5px 0;
}
.listContainer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  height: 30dvh;
  display: block;
  z-index: 2;
  overflow-y: scroll;
  transform: translateX(-50%);
  padding: 8px 18px 15px 32px;
  width: 98%;
  background-color: rgb(255 255 255 / 90%);
  border-radius: 5%;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_right {
  color: #656565c9;
  white-space: nowrap;
  margin-right: 15px;
}
.header_right button {
  color: #656565c9;
  background-color: transparent;
  font-size: 14px;
  white-space: nowrap;
  border: none;
  padding: 0.1em 0.4em;
}
.header_right button:focus,
.header_right button:hover {
  outline: none;
  border: none;
}
.header_left input {
  width: 13%;
}
.header_left button {
  font-size: 14px;
  padding: 0.1em 0.4em;
}
.header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 2px;
  justify-content: flex-start;
}
