.detailContainer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  height: 30dvh;
  display: block;
  z-index: 2;
  overflow-y: scroll;
  transform: translateX(-50%);
  padding: 8px 18px 15px 32px;
  width: 41dvh;
  background-color: #ffffffc9;
  border-radius: 5%;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 8px;
}
